.date-picker-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.custom-calendar.react-calendar {
  width: 100%;
  max-width: 350px;
  background-color: #d9d9d9;
  color: #121212;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-family: inherit;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.react-calendar__tile {
  padding: 15px 15px;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover
  .react-calendar__tile--active:enabled:focus {
  background-color: transparent !important;
  color: #2979ff !important;
  border: 2px solid #2979ff !important;
  border-radius: 50%;
  font-weight: bold;
}

.react-calendar__tile--now {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}
