:root {
  --bg-dark: #121212;
  --bg-light-gray: #d9d9d9;
  --primary-green: #00e676;
  --accent-blue: #2979ff;
  --text-main: #ffffff;
  --text-muted: #888888;

  --font-main: "Karla", sans-serif; /* Little Lemon usa Karla y Markazi Text */
  --font-logo: "Markazi Text", serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--bg-dark);
  color: var(--text-main);
}
